.main-container{
    width: 100vw;
    height: 100vh;
}

.main-container-header{
    height: 15%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-body{
    height: 77%;
    overflow: auto;
}

.main-container-body-sections{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container-body-sections-personal-details, 
.main-container-body-sections-education,
.main-container-body-sections-experience, 
.main-container-body-sections-skills,
.main-container-body-sections-objective,
.main-container-body-sections-Reference{
    margin: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container-body-sections-personal-details h3, 
.main-container-body-sections-education h3,
.main-container-body-sections-experience h3,
.main-container-body-sections-skills h3,
.main-container-body-sections-objective h3,
.main-container-body-sections-Reference h3{
    margin: 1em;
}

.main-container-body-sections-personal-details > div, 
.main-container-body-sections-education > div,
.main-container-body-sections-experience > div,
.main-container-body-sections-skills > div,
.main-container-body-sections-objective > div,
.main-container-body-sections-Reference > div > div{
    margin: 1em 1em 1em 2em;
}

.main-container-body-sections-personal-details .name,
.main-container-body-sections-personal-details .address,
.main-container-body-sections-personal-details .email,
.main-container-body-sections-personal-details .phone,
.main-container-body-sections-education .course-degree,
.main-container-body-sections-education .school-university,
.main-container-body-sections-education .grade-score,
.main-container-body-sections-education .year,
.main-container-body-sections-experience .company-name,
.main-container-body-sections-experience .job-title,
.main-container-body-sections-experience .start-date-end-date,
.main-container-body-sections-experience .details{
    display: flex;
    width: 50%;
}

.main-container-body-sections-personal-details .name label,
.main-container-body-sections-personal-details .address label,
.main-container-body-sections-personal-details .email label,
.main-container-body-sections-personal-details .phone label,
.main-container-body-sections-education .course-degree label,
.main-container-body-sections-education .school-university label,
.main-container-body-sections-education .grade-score label,
.main-container-body-sections-education .year label,
.main-container-body-sections-experience .company-name label,
.main-container-body-sections-experience .job-title label,
.main-container-body-sections-experience .start-date-end-date label,
.main-container-body-sections-experience .details label{
    width: 40%;
}

.main-container-body-sections-personal-details .name input,
.main-container-body-sections-personal-details .address textarea,
.main-container-body-sections-personal-details .email input,
.main-container-body-sections-personal-details .phone input,
.main-container-body-sections-education .course-degree input,
.main-container-body-sections-education .school-university input,
.main-container-body-sections-education .grade-score input,
.main-container-body-sections-education .year input,
.main-container-body-sections-experience .company-name input,
.main-container-body-sections-experience .job-title input,
.main-container-body-sections-experience .start-date-end-date input,
.main-container-body-sections-experience .details textarea{
    width: 60%;
}

.main-container-body-sections-personal-details .address, 
.main-container-body-sections-experience .details,
.main-container-body-sections-skills .skills,
.main-container-body-sections-objective .objective{
    display: flex;
    align-items: center;
}

.main-container-body-sections-experience .start-date-end-date{
    display: flex;
}

.main-container-body-more-sections{
    padding: 1em;
}

.main-container-body-manage-sections{
    padding: 1em;
}

.main-container-footer{
    height: 8%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}