<div class="main-container">
    <div class="main-container-header">
        <h1>
            Online Resume Builder
        </h1>
    </div>
    <div class="main-container-body">
        <!-- SECTIONS -->
        <div class="main-container-body-sections">
            <h2>SECTIONS</h2>

            <div class="main-container-body-sections-personal-details">
                <h3>Personal Details</h3>
                <div class="name">
                    <label for="name">Name : </label>
                    <input id="name"/>
                </div>
                <div class="address">
                    <label for="address">Address : </label>
                    <textarea id="address"></textarea>
                </div>
                <div class="email">
                    <label for="email">Email : </label>
                    <input id="email" type="email"/>
                </div>
                <div class="phone">
                    <label for="phone">Phone : </label>
                    <input id="phone" type="number" />
                </div>
                
            </div>
            <div class="main-container-body-sections-education">
                <h3>Education</h3>
                <div class="course-degree">
                    <label for="course-degree">Course/Degree : </label>
                    <input id="course-degree"/>
                </div>
                <div class="school-university">
                    <label for="school-university">School/University : </label>
                    <input id="school-university"/>
                </div>
                <div class="grade-score">
                    <label for="grade-score">Grade/Score : </label>
                    <input id="grade-score"/>
                </div>
                <div class="year">
                    <label for="year">Year : </label>
                    <input id="year"/>
                </div>
            </div>
            <div class="main-container-body-sections-experience">
                <h3>Experience</h3>
                <div class="company-name">
                    <label for="company-name">Company Name : </label>
                    <input id="company-name"/>
                </div>
                <div class="job-title">
                    <label for="job-title">Job Title : </label>
                    <input id="job-title"/>
                </div>
                <div class="start-date-end-date">
                    <div class="start-date">
                        <label for="start-date">Start Date : </label>
                        <input id="start-date"/>
                    </div>
                    <div class="end-date">
                        <label for="end-date">End Date : </label>
                        <input id="end-date"/>
                    </div>
                </div>
                <div class="details">
                    <label for="details">Details : </label>
                    <textarea id="details"></textarea>
                </div>
            </div>
            <div class="main-container-body-sections-skills">
                <h3>Skills</h3>
                <div class="skills">
                    <label for="skills">Skills : </label>
                    <textarea id="skills"></textarea>
                </div>
            </div>
            <div class="main-container-body-sections-objective"> 
                <h3>Objective</h3>
                <div class="objective">
                    <label for="objective">Objective : </label>
                    <textarea id="objective"></textarea>
                </div>
            </div>
            <div class="main-container-body-sections-Reference">
                <h3>Reference</h3>
                <div class="reference">
                    <div class="referee's-name">
                        <label for="referee's-name">Referee's Name : </label>
                        <input id="referee's-name" />
                    </div>
                    <div class="referee's-job-title">
                        <label for="referee's-job-title">Job Title : </label>
                        <input id="referee's-job-title"/>
                    </div>
                    <div class="referee's-company-name">
                        <label for="referee's-company-name">Company Name : </label>
                        <input id="referee's-company-name"/>
                    </div>
                    <div class="referee's-email">
                        <label for="referee's-email">Email : </label>
                        <input type="email" id="referee's-email"/>
                    </div>
                    <div class="referee's-phone">
                        <label for="referee's-phone">Phone : </label>
                        <input type="number" id="referee's-phone"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- MORE SECTIONS -->
        <!-- <div class="main-container-body-more-sections">
            <h2>MORE SECTIONS</h2>

            <div>Projects</div>
            <div>Languages</div>
            <div>Cover Letter</div>
            <div>Hobbies</div>
            <div> + Add More Sections </div>
        </div> -->
        <!-- MANAGE SECTIONS -->
        <!-- <div class="main-container-body-manage-sections">
            <h2>MANAGE SECTIONS</h2>

            <div>Rearrange/Edit Headings</div>
        </div> -->
    </div>
    <div class="main-container-footer">
        <h3>
            &copy; Ahamad INDIA, All rights reserved
        </h3>
    </div>
</div>